# ===== Core =====
torch==2.1.2
torchvision==0.16.2

transformers==4.37.2
accelerate==0.27.2
peft==0.8.2

# ===== Vision =====
timm==0.9.12
einops
pillow

# ===== Config =====
omegaconf==2.3.0
iopath
ftfy
packaging
tqdm

# ===== Data =====
pandas
scikit-image

# ===== Tokenizer =====
sentencepiece